<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>
    Show Post:
</h1>

<article class="postShow"></article>
<% include ../attachments/_attachment %>

<div>
    <small id="author"> by <%= post.author?.username ?? "Anonymous" %> </small>
</div>

<ul>
    <li>Titulo: <b><%= post.title %></b></li>
    <li>Cuerpo: <b><%= post.body %></b></li>
    <li>Imagen: <b><%= post.image %></b></li>
</ul>

<a href="/Posts" class="button">Go back</a> <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id === post.authorId)) { %>
                                            <a href="/posts/<%= post.id %>/edit" class="button" id="">Edit</a>
                                            <% } %>
</body>
</html>